
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #121212;
  min-height: 100vh;
}


h1{
    color: #1ed760;
    font-size: 36px;
    font-weight: 670;
    text-align: center;
    margin-top: 65px;
}

h3{
  /* text-align: center; */
  margin-left: 200px;
  /* margin-left: auto;
  text-align: center; */
  margin-top: 30px;
  color: #1ed760;
  font-size: 24px;
}

.search-result h3{
  margin-left: 200px;
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
}

.sort{
  display: flex;
}

.filter {
  display: flex;
}

li {
  list-style-type: none;
  border-color: none;
}

.sort_button, .filter_button{
  background-color: #1ed760;
  border-radius: 30px;
  width: 110px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-weight: 700;
  border-color: none;
}

.sort_button:hover {
  background-color: white;
}

.filter_button:hover {
  background-color: white;
}

.active_filter {
  background-color: white;
}

table, td, th {  
  text-align: left;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

th {
  border-bottom: #2A2A2A solid 3px;
}

table {
  margin-top: 50px;
  /* margin-left: 70px; */
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  vertical-align:middle;
}

.table-number {
  width: 10px;
}

th, td {
  padding: 10px;
  color: #ffffff;
}

.pagination {
  display: flex;
  margin: 20px;
  margin-top: 100px;
  justify-content: center;
}

.pagination a {
  color: #1ed760;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.activepage {
  background-color: #1ed760;
  color: white;
  border-radius: 5px;
  margin: 0 4px;
}

.pagination a:hover:not(.active) {
  background-color: #ffffff;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: #ffffff;
}
